<h1>A simple web app that stores bookmarks in the localstorage of your browser</h1>
Based on This tutorial by Traversy media: https://youtu.be/DIVfDZZeGxM<br>
This app works offline. <br>
The only thing it fetches from the internet is font-awesome for the trash icon