/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  color:#888;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	/* Same as above */
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height:1.6em;
	margin:0;
}

.container{
	width:90%;
	margin:auto;
}

.box{
	border:2px solid #ccc;
	padding:20px;
	margin:20px 0;
}

a{
	text-decoration: none;
	color:#eee;
}

a:hover{
	color:red;
}

a:active{
	color:green;
}

a:visited{
	color:#eee;
}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.form-group input[type="text"], .my-form textarea{
	padding:8px;
	width:95%;
}

.button{
	background-color:#222;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.button-small{
	background-color:#222;
	color:#fff;
	padding:5px 10px;
	border:none;
}

.button:hover{
	background:red;
	color:#fff;
}

.list{}

.list-item{
 border-left: 2px solid #ccc;
 border-right: 2px solid #ccc;
 padding-left: 5px;
}

.align-right{
 float: right;/**/
 margin-right: 10px;
}

.align-center{
 text-align: center;
 margin: auto;
}
